@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  overflow: hidden;

  &__content {
    display: flex;
  }
}







